---
- name: "{{ ansible_facts['distribution'] }} | bluetooth | bluez | Install"
  community.general.pacman:
    name: bluez
    state: present
  become: true

- name: "{{ ansible_facts['distribution'] }} | bluetooth | bluez-utils | Install"
  community.general.pacman:
    name: bluez-utils
    state: present
  become: true

- name: "{{ ansible_facts['distribution'] }} | bluetooth | bluetui | Install"
  community.general.pacman:
    name: bluetui
    state: present
  become: true
