[defaults]
stdout_callback = prettify
callback_plugins = ~/.ansible/plugins/callback
callbacks_enabled = community.general.log_plays

# Do not use this callback when running ad-hoc commands.
bin_ansible_callbacks = False

[callback_log_plays]
log_folder = ./logs