---
- name: "{{ ansible_facts['distribution'] }} | wifi | iwd | Install"
  community.general.pacman:
    name: iwd
    state: present
  become: true

- name: "{{ ansible_facts['distribution'] }} | wifi | impala | Install"
  community.general.pacman:
    name: impala
    state: present
  become: true