---
- name: "{{ ansible_facts['distribution'] }} | python | pyenv | Install"
  community.general.pacman:
    name: pyenv
    state: present
  become: true

# install python build dependencies
- name: "{{ ansible_facts['distribution'] }} | python | pyenv | Install python build dependencies"
  community.general.pacman:
    name:
      - base-devel
      - openssl
      - zlib
      - xz
      - tk
    state: present
  become: true

- name: "{{ ansible_facts['distribution'] }} | python | pipx | Install"
  community.general.pacman:
    name: python-pipx
    state: present
  become: true

- name: "{{ ansible_facts['distribution'] }} | python | poetry | Install"
  community.general.pipx:
    name: poetry
    state: present